<span class="preheader">This is an invoice for your purchase on {{ date }}. Please submit payment by {{ due_date }}</span>

<h1>Hi {{name}},</h1>


<span class="f-fallback"><strong>Amount Due:</strong> {{total}}</span>